 <form action="/admin/dashboard/userList/edit/{{datos._id}}" method="POST">

   <label> Nombre
      <input type="text" name="nombre"  value={{datos.nombre}} />
    </label>

    <label> Usuario
      <input type="text" name="username" value={{datos.username}} />
    </label>

    <label> Email
      <input type="email" name="email" value={{datos.email}}/>
    </label>

     <label> Role
      <input type="text" name="role"  value={{datos.role}}/>
    </label>

    <div> Genero
      <select name="genero" aria-placeholder="Selecciona tu Genero">
        <option value="mujer">Mujer</option>
        <option value="hombre">Hombre</option>
        <option value="otro">Otro</option>                          
      </select>
    </div>


    <button type="submit">Editar</button>
  </form>
