<header>
<nav>
   <a href="/">
  <img id="logo1" src="/images/logo.png" alt="logo"  >
   </a> 
    <div id="profileNavButtons" style="margin-left: 1200px;">
    <a href="/admin/indexAdmin"><button>Inicio</button></a>
    <a href="/admin/dashboard"><button>Dashboard</button></a>

     
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
     </div>
 
  </nav>
  </header>
  <h1>EDITAR USUARIO</h1>
<form action="/admin/dashboard/userList/edit/{{datos._id}}" method="POST">
<div>
    Nombre
  <label>
    <input type="text" name="nombre" value={{datos.nombre}} />
  </label>


    Usuario
  <label>
    <input type="text" name="username" value={{datos.username}} />
  </label>


    Email
  <label>
    <input type="email" name="email" value={{datos.email}} />
  </label>

  Role
  <label>
    <input type="text" name="role" value={{datos.role}} />
  </label>

  
      Género
    <select name="genero" aria-placeholder="Selecciona tu Género">
      <option value="mujer">Mujer</option>
      <option value="hombre">Hombre</option>
      <option value="otro">Otro</option>
    </select>
  

  <button type="submit">Editar</button>
  </div>
</form>


<style>
  form {
    background-color: #064789;
    border: 7px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Tourney', cursive;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }

  form input[type="text"], form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }

  form select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }

  form button[type="submit"] {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  h1{
    display: flex;
    justify-content: center;
    color: white;
  }
</style>
<link rel="stylesheet" href="/stylesheets/profile.css">
