 
<header>
<nav>
   <a href="/">
  <img id="logo1" src="/images/logo.png" alt="logo"  >
   </a> 
    <div id="profileNavButtons" style="margin-left: 1350px;">
    <a href="/"><button>Inicio</button></a>
    <a href="/admin/dashboard"><button>Dashboard</button></a>

     
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
     </div>
 
  </nav>
  </header>
<div class="user-list">
  {{#each usuario}}
  <div class="user-card">
    <img src="{{foto}}" alt="Foto de perfil">
    <p>Nombre: {{nombre}}</p>
    <p>Nombre de usuario: {{username}}</p>
    <p>Correo electrónico: {{email}}</p>
    <p>Género: {{genero}}</p>
    <p>Nacionalidad: {{nacionalidad}}</p>
    <p>Rol: {{role}}</p>
    <a href="/admin/dashboard/userList/edit/{{_id}}">
      <button>Editar</button>
    </a>
    <a href="/admin/dashboard/userList/delete/{{_id}}">
      <button>Eliminar</button>
    </a>
  </div>
  {{/each}}
</div>


<link rel="stylesheet" href="/stylesheets/userList.css">
<link rel="stylesheet" href="/stylesheets/profile.css">