<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/predictions.css">
    <link rel="stylesheet" href="/stylesheets/user.css">

</head>
<body>

{{#if userInSession}}
<header>
 <nav>
  <a href="/">
  <img id="logo1" src="/images/logo.png" alt="logo"  >
   </a>      
  <div class="NavpredictionButtons">
  <button type="button"> 
     <a href="/">Inicio</a>
     </button>
  
    <button type="button">
              <a href="/user/userProfile">Perfil</a>
     </button>
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
     </div>
</nav>
</header>

      <h2>Predicciones</h2>
    <div class="predictions">
     {{#each fixture}}
     <div class="fixture-box" >
     <div class="fixture-p card" >
          <p>{{formatoFecha fixture.date}} </p>
          <p><img src={{teams.home.logo}} alt="logo equipo"/>{{teams.home.name}} {{goals.home}}-{{goals.away}} {{teams.away.name}}<img src={{teams.away.logo}} alt="logo equipo"/></p>
         
          <form id="score-form" action="/user/user-prediction/{{fixture.id}}" method="POST">

            <label> Casa
                <input id="homeScore" class="inputText" type="text" name="homeScore" placeholder="0" value="0" />
              </label>
              <label> Visitante
                <input id="awayScore" class="inputText" type="text" name="awayScore" placeholder="0" value="0"/>
              </label>
              
          
          <p>Estadio: {{fixture.venue.name}} </p>   
          <p>Ciudad: {{fixture.venue.city}} </p>    
          <p>{{league.round}}</p>
              <div>
              <button  class="prediccionRegisterButton" type="submit">Registro</button>
              </div>
              
        </form>
      </div>
    </div>
    {{/each}}
    </div> 

{{else}}
  
  <h1 style="display: flex; justify-content:center; margin-top:400px; color: white">Lo lamento, aun no estas conectado!</h1>
  <a href="/">
  <button style="margin-left:840px">VOLVER AL INICIO</button>
 </a>
{{/if}}
    
</body>
</html>