<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{{#if userInSession}}
  <h2>Bienvenido, {{ userInSession.username }}!</h2>
  
    
    <button type="button">
              <a href="/user/userPrediction">Home</a>
     </button>
     <a href="/"><button>Rules</button></a>
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}
    <div>
      {{#with userInSession}}
      <h1>Perfil de Usuario</h1>
    <p>Nombre: {{nombre}}</p>
    <p>Nombre de usuario: {{username}}</p>
    <p>Correo electrónico: {{email}}</p>
    <p>Género: {{genero}}</p>
    <p>Nacionalidad: {{nacionalidad}}</p>
    <p>Rol: {{role}}</p>
    <img src="{{foto}}" alt="Foto de perfil">
    {{/with}}
    </div>
</body>
</html>