<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{{#if userInSession}}

  <h2>Tus Predicciones</h2>
  
   
    <button type="button">
              <a href="/user/userProfile">Profile</a>
     </button>
      <a href="/"><button>Rules</button></a>
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
     {{#each fixture}}
<p>{{fixture.date}} </p>
<p><img src={{teams.home.logo}} alt="logo equipo" />{{teams.home.name}} {{goals.home}}-{{goals.away}} {{teams.away.name}}<img src={{teams.away.logo}} alt="logo equipo"/></p>
<p>Estadio:{{fixture.venue.name}}    Ciudad:{{fixture.venue.city}}    Ronda:{{league.round}}</p> 

    {{/each}}

{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}
    
</body>
</html>